<div class="card mb-2 mr-2" style="width:300px; float: left;">
  <img class="card-img-top mx-auto mt-2" style="height: 133px; width: 100px;" src={{itemElement.image}} alt="Card image">
  <div class="card-body">
    <h4 class="card-title">{{itemElement.title}}</h4>
    <p class="card-text">Price: {{itemElement.price}}</p>
    <p class="card-text">Designer: {{itemElement.designer}}</p>
    <p class="card-text">size: {{itemElement.shape}}</p>
    <a href="#" class="btn btn-primary">add to basket </a>
  </div>
</div>
