<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-md-3">

          <h5>size</h5>
          <div id="shape">
              <div class="form-check" *ngFor = "let a of sizes">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" (change)="onSizeChanged($event)" value="{{a}}">{{a}}
                  </label>
                </div>
          </div>

          <h5>Designer</h5>
          <div id="designer">
              <div class="form-check" *ngFor="let b of designers">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" (change)="onDesignerChanged($event)" value="{{b}}">{{b}}
                  </label>
                </div>
          </div>

          <h5 class="mt-2" id="price">Price</h5>
          <div class="row">
            <div class="form-group col-md-4">
               <input type="number" class="form-control" #min>
            </div>
            <div class="form-group col-md-4">
              <input type="number" class="form-control" #max>
            </div>
            <div class="col-md-4">
              <button type="button" class="btn btn-outline-primary" (click)="onPriceChanged(min, max)">set</button>
            </div>
          </div>
        </div>

        <div class="col-md-9">
            <app-apparel *ngFor="let item of filteredApparels" 
            [itemElement] = "item">
            </app-apparel>
        </div>
        
    </div>
</div>

